%h1 Descarga de ISO - Tema 1
%ul
  %li
    = link_to 'descargar rails 1', home_download_file_path
  %li
    = link_to 'descargar rails 2', home_download_file_path
  %li
    = link_to 'descargar rails 3', home_download_file_path
